<h1 class="text-center mt-5">Wild Circus</h1>

<div class="d-flex flex-column justify-content-center align-items-center signContainer">
  <button id="signIn" class="signButton" (click)="modalDisplay('signInModal')">Sign-in</button>
  <button id="signUp" class="signButton" (click)="modalDisplay('signUpModal')">Sign up</button>
</div>

<div id="signInModal" class="modal" >
        
        <div class="modal-content d-flex">
                <span class="align-self-end close" (click)="closeModal('signInModal')">&times;</span>
            <p class="text-center">Please enter your password and username.</p>
        <label for="username">Username</label>
            <input type="text" name="username" required>
            <label for="password">Password</label>
            <input type="password" name="password" required>
            <button class="align-self-center">Sign in</button>
        </div>
        
</div>
<div id="signUpModal" class="modal">
        <div class="modal-content d-flex">
                <span class="align-self-end close" (click)="closeModal('signUpModal')">&times;</span>
            <p class="text-center">Please enter a username and password.</p>
        <label for="username">Username</label>
            <input type="text" name="username" required>
            <label for="password">Password (min. 8 characters)</label>
            <input type="password" name="password" minlength="8" required>
            <button class="align-self-center">Sign up</button>
        </div>
</div>
