.backgroundImg {
    position: absolute;
    opacity: 0.2;
    top: -30%;
    left: -35%;
    z-index: -1;
}

.backgroundImg2 {
    position: absolute;
    opacity: 0.2;
    top: -40%;
    left: 64%;
    z-index: -1;
}